.banner {
  display: flex;
  justify-content: center;

  img {
    width: 100%;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;
  gap: 7px;

  @media (min-width: 390px) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
